<div class="text-center">
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Acceso Denegado</h4>
        <p>El usuario no se encuentra autorizado para realizar esta acción.</p>
        <hr>
        <p class="mb-0">Si crees que esto es un error, por favor contacta al administrador del sistema.</p>
    </div>
    <a asp-controller="Home" asp-action="Index">Volver al inicio.</a>
</div>