@{
    ViewData["Title"] = "Home Page";
}

@if(ViewBag.msgNombreUsuario != null){
    <div class="text-center">
        <h2 class="display-4">Bienvenido @ViewBag.msgNombreUsuario</h2>
        
    </div>

} else{
    <div class="text-center">
        <h2 class="display-4">Bienvenido, recomendamos @Html.ActionLink("Iniciar Sesion", "Login", "Aut") o @Html.ActionLink("Registrarse", "Registro", "Aut")</h2>
    </div>

}
