@if(ViewBag.rol == "Cliente")
{
    <h1>Agregar Saldo</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post" id="formAgregarSaldo">
                <div class="form-group">
                    <label class="control-label">Monto a agregar</label>
                    <input name="Monto" id="montoCliente" type="number" min="1" class="form-control" required />
                </div>
                <div class="form-group">
                    <input type="submit" value="Agregar saldo" class="btn btn-primary mt-2" />
                </div>
            </form>
        </div>
    </div>
    <p>@ViewBag.msg</p>
}
else
{
    <h3>Para agregar saldo se debe estar logueado como cliente.</h3>
}
